<form action="/search" method="post">
<div class="form-group">
    <label for="search">Bill Number</label>
    <input id="search" class="form-control" name="bill" placeholder="Search by Bill Number" type="search"/>
</div>
<input class="btn btn-primary" type="submit" value="Search for Bill">
</form>
