<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {{>head}}
</head>
<body>
    {{>nav}}
    <div id="main" class="main container">
    <h2>Uh oh... we can't find that bill.</h2>
    <p>You searched for {{billId}}, but we couldn't find it.</p>
    <p>This might be because we don't know about it yet, or there might be a typo</p>
    {{>search}}
    </div>

{{>footer}}
</body>
</html>